<div class="d-flex justify-content-center flex-wrap mt-5">
  <% @cocktails.each do |cocktail| %>
    <div class="card m-2 card-main" style="width: 22rem;">
      <div class="card-image">
        <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, class:"card-img-top" %>
        <% else %>
          <%= image_tag "https://res.cloudinary.com/lucaslbl1/image/upload/v1613918229/noun_Cocktail_Glass_195938_bqp0n3.png", class:"card-img-top" %>  
        <% end %>
      </div>

      <div class="card-body">
        <%= link_to cocktail_path(cocktail), class:"card-link card-title" do %>
          <h5 class="card-title"> <%= cocktail.name %></h5>
        <% end %>
        <hr>

        <div class="d-flex justify-content-center">
          <%= link_to "More info", cocktail_path(cocktail), class:"card-link" %>
          <%= link_to "Edit", edit_cocktail_path(cocktail), class:"card-link card-edit" %>
          <%= link_to "Delete", cocktail_path(cocktail), method: :delete,
            data: { confirm: "Are you sure?" }, class:"card-link card-delete" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
