  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "https://res.cloudinary.com/lucaslbl1/image/upload/v1613918229/noun_Cocktail_Glass_195938_bqp0n3.png" %>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <h1>Lux Cocktail`s</h1>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active mr-3">
            <%= link_to 'Add a cocktail', new_cocktail_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </div>
  <hr>
  <div class="d-flex justify-content-evenly flex-wrap">
    <% @cocktails.each do |cocktail| %>
      <div class="card m-2 card-main" style="width: 22rem;">
        <div class="card-image">
          <% if cocktail.photo.attached? %>
          <%= cl_image_tag cocktail.photo.key, class:"card-img-top" %>
          <% end %>
        </div>

        <div class="card-body">
          <%= link_to cocktail_path(cocktail), class:"card-link card-title" do %>
            <h5 class="card-title"> <%= cocktail.name %></h5>
          <% end %>
        <hr>
          
        </div>
      </div>
    <% end %>
  </div>
</div>