<div class="container-fluid w-100 h-auto m-0 p-0 flex-wrap">
  <div class="d-flex">
    <% if @cocktail.photo.attached? %>
      <%= cl_image_tag @cocktail.photo.key, class:"img-fluid w-100" %>
    <% else %>
      <%= image_tag "https://res.cloudinary.com/lucaslbl1/image/upload/e_blur:200/v1626037771/pexels-spencer-selover-3391752_xwycac.jpg", class:"img-fluid w-100" %>  
    <% end %>
  
  <h1 class="card-title text-center" id="show-top"> <%= @cocktail.name %></h1>

    <div class="text-right">
      <%= link_to "Edit", edit_cocktail_path(@cocktail), class:"btn m-3" %>
      <%= link_to "Delete", cocktail_path(@cocktail), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-default m-3" %>
    </div>
  </div>

  <div class="container d-flex justify-content-around flex-wrap show">
    <div class="card text" id="card-description" style="max-width: 30rem;">
      <div class="card-body">
        <h3 class="card-title">Description</h3>
        <div class="d-flex flex-column bd-highlight align-items-center">
          <% @cocktail.doses.each do |dose| %>
            <div>
              <strong><%= dose.ingredient.name %></strong>
              <%= dose.description %>
              <%= link_to "delete", dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="card text-dark" id="card-description" style="max-width: 50rem;">
      <div class="card-body">
        <h3 class="card-title">Add ingredients</h3>
        <%= render "doses/new", cocktail: @cocktail, dose: @dose %>
      </div>
    </div>
  </div>
</div>